.outOfStockClass {
  border: 2px solid red;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff5f5;
  opacity: 0.6;
}

.inStockClass {
  border: 2px solid green;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f5fff5;
}
